body {
	margin:0;
}
textarea {
	padding:10px;
	line-height: 1.5;
}
.leaflet-container {
	background: none; 
}
#topnav {
	background-color: #fff;
	
	height: 70px;
	
	border-bottomX: 1px solid #ccc;
	position: fixed;
	z-index: 90000;
	left: 56px;
	right: 0px;
}
#topselectors {
	float: left;
	padding: 20px;
}
#topselectors div {
	line-height: 1;
	float: left;
	border: 1px solid #ccc;
	border-radius: 12px;
	padding: 8px 12px 8px 12px;
	margin-left:10px;
	cursor: pointer;
}
#topselectors div:hover {
	background-color: #efefef;
}
.padding-left {
	padding-left: 20px;
}
#map {
	overflow: auto;
	width:100%;
	height: 500px;
}
.marker-menu {
	background: #FBFBFB;
	width: 56px;
	border-right: 1px solid #fff;
	padding: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;

	position: fixed;
	height: 100%;
	z-index: 9;
	border-right: 1px solid #ddd;
}
.marker-menu-space {
	float:left;
	width: 56px;
	height: 100%;
	background-color: red;
	z-index: 99999999;
}

.draggable-marker {
    width: 20px;
    cursor: pointer;
    z-index: 999;
}
#showapps {
	float:left; 
	padding:14px 0px 10px 10px; 
	color: #ddd;
	cursor: pointer;
}
#appmenu {
	min-height: 200px;
}
#sidelist {
	background: #eee;
	width:40%;
	height: 500px;
	overflow: scroll;
}
#grouplisttop {
	font-size: 20px;
	line-height: 1;
	background-color: #bbb;
	position: absolute;
	right: 0;
	left: 0;
	padding-top: 4px;
	padding-right: 6px;
	z-index: 1;
}
#grouplisttop_space {
	height: 30px;
	margin-bottom: 18px;
}
#grouplisttop i {
	font-size: 26px;
	color: #fff;
	padding: 10px 6px;
	cursor: pointer;
}
#grouplist {
	margin: 10px;
}

#grouplist .person__image {
    width: 64px;
    height: 64px;
    margin-top: 10px;
}
.person { /* set when #grouplist resized */
    width: 33%;
    z-index: auto; /* Allows text box to overlap */
}
.person__title {
    font-size: 10px;
    letter-spacing: 1.5px;
    text-transform: none;
    padding-left: 5px;
    padding-right: 5px;
}

body .person__image { /* Applies when dragging out of scrollable grouplist */
	margin-top: 10px;
	width: 32px;
    height: 32px;
	z-index: 999999;
	transition: none;
}
#grouplist .person__meta {
	background-color: rgba(255,255,255,.95);
	z-index: 99999;
	overflow: auto;
}
.topcircle {
    background-color: #ddd;
    border-radius: 27px;
    height: 54px;
    width: 54px;
    position: relative;
    border:1px solid #fff;
    margin:10px;
    cursor: pointer;
}
.topcircle .material-icons {
	font-size: 32px;
}
.iconcircle {
    background-color: #ddd;
    border-radius: 24px;
    height: 42px;
    width: 42px;
    position: relative;
    border:1px solid #fff;
    margin-top: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}
.iconcircle:hover {
	background-color: #888;
}
.showpeople.active {
	background-color: purple;
}
.showlayers.active {
	background-color: blue;
}
.showsettings.active {
	background-color: green; /* #aaa; */
}
.iconcircle .material-icons, .topcircle .material-icons {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#flexwrapper {
	border-top: 1px solid #ccc;
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 200;
}



